/* VALIDO PARA TODOS OS ARQUIVOS*/
*{
    padding:0;
    margin:0;
}
/* VALIDO PARA O ARQUIVO LOGIN.HTML */

body.loginBody{
    color: white;
    background: linear-gradient(151deg, rgba(0,208,255,1) 0%, rgba(0,90,159,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
}

footer span{
    opacity: .5;
}

.login{
    text-align: center;
    height: 118vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.login-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-div p{
    margin: 20px 0;
    font-weight: 600;
}

.login-div form input{
    margin: 10px 0px;
    border-radius: 100px;
    border: 2px solid white;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
}

.login-div form input::placeholder{
    color: white;
}

.login-div form input[type='submit']{
    margin-top: 20px;
    background-color: white;
    color: #005ca1;
    transition: 0.5s;
    cursor: pointer;
}

.login div form input[type='submit']:hover{
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}
.titulo{
    font-size:large;
    color: aliceblue;
}
a{
    text-decoration: none;
    color:rgb(73, 194, 73);
}
a:link {
    color: #e67e22;
    font-size: 20px;
   }
   
a:hover {
        
   }
   

@media (min-width: 1100px)
{
    body{
        background: white;;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/apertomao.jpg);
        background-position: center;
        min-height: 350px;
        box-shadow: 2px 2px 5px #00000050;
    }

    .login{
        background-color: transparent;
    }

    .login-div{
        background: linear-gradient(151deg, #009fd7, rgba(0,90,159,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 50px;
        box-shadow: 2px 2px 5px #00000050;
    }

    footer{
        color: white;
        background-color: rgba(30,30,30,.5);
        padding: 10px;
    }


    #muda{
        display:none;
        animation: go-back 0.3s;
        background: rgba(0, 0, 0, 0.8)
        
    }
    #muda2{
        display:none;
        animation: go-back 0.3s;
        background: rgba(0, 0, 0, 0.8)
    }
    
    @keyframes go-back {
        from { opacity: 0.5; 
        }
        to   { opacity: 1;
        }
    }
    @keyframes desfoca_fundo {
        from { background-color: #009fd7;
        }
        to { background-color: black;
        }
    }
}
/* VALIDO PARA O ARQUIVO USUARIO.PHP */
 div.usuarioDiv a{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
div.usuarioDiv{
    margin-left: 10vh;
    margin-top: -15vh;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
}
div.usuarioDiv div#usuarioId{
    margin-top:20vh; 
    padding: 20px;
}
body.usuario h1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 30px;
}
body.usuario div.usuarioDiv img{
    border-radius:100%;
    width:18vw;
    margin-left: 10vh;
    height: 38vh;
}
body.usuario div.usuarioDiv button{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
#modal{
    border: 1px solid black;
    display: none;
    width: 30vw;
    height: 30vh;
    position: absolute;
    margin-left: 30vw;
    background-color: white;
    animation: modal 1s;
    flex-direction: column;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#modal button{
    border-radius: 1px;
    border: 1px solid white;
    background-color: red;
    width: 30px;
    padding: 10px;
    justify-self: center;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
#muda{
    display:none;
    margin-left: -3vh; 
    margin-right: -2vh;
    animation: modal 1s;
}
#muda2{
    display:none;
    margin-left: -3vh; 
    margin-right: -2vh;
    animation: modal 1s;
}
#cursos{
   width: 100%;
   align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cursoTela{
    border: 1px solid;
    height: 250px;
    width: 220px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin-left:10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursoTela a{
    font-size: 30px;
    justify-content: center;
    padding:10px;
    background-color: white;
    border-radius: 10px;
    color:green;
    border: 1px solid green;
}
.cursoTela a:hover{
    transition-duration: 1s;
    cursor:pointer;
    opacity: 0.8;
    color: white;
    background-color: blue;
    border: 1px solid white;
}
.cursoTela img{
    padding: 15px;
    margin-left:1px;
    width:190px; 
    height: 120px;
    justify-content: center;
}
#cursoCont{
    width: 100%;
    align-items: center;
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 .cursoConteudo{
     border: 1px solid;
     height: 230px;
     width: 220px;
     margin-left:10vh;
     margin-bottom: 10vh;
     border-radius: 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 }
 .cursoConteudo a{
     font-size: 30px;
     justify-content: center;
     padding:10px;
     background-color: white;
     border-radius: 10px;
     color:green;
     border: 1px solid green;
 }
 .cursoConteudo a:hover{
    transition-duration: 1s;
    cursor:pointer;
    opacity: 0.8;
    color: white;
    background-color: blue;
    border: 1px solid white;
 }
 .cursoConteudo img{
     padding: 15px;
     margin-left:1px;
     width:190px; 
     height: 120px;
     justify-content: center;
 }
 #modal2{
    border: 1px solid black;
    display: none;
    width: 30vw;
    height: 30vh;
    position:absolute;
    margin-bottom: 60vh;
    background-color: white;
    animation: modal 1s;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#modal2Cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modal2Op{
    display:flex;
    justify-content:center;
}
#modal2Op a{
    margin:auto;
    margin-top:50px;
    font-size: 30px;
}
#imagemEstilo{
    width: 100vm;
    height:100vh;
    margin: 0;
    padding: 0;
}
/* VALIDO PARA O ARQUIVO TESTE.PHP */
body.teste{
    background-color: aqua;
}
/* VALRIDO PARA O ARQUIVO ADMIN.PHP*/
#adminBody{
    background-color: #56cfc9ef;
}
.menuAdmin{
    background-color: rgb(45, 45, 158);
    display: flex;
    height: 12vh;
    justify-content: center;
    width:100vw;
}
.menuAdmin img{
    height: 9vh;
    width: 3vw;
    margin-left: 5vw;
    margin-right: 15vw;
    margin-top: 9px;
}
.menuAdmin a{
    color: rgb(216, 211, 211);
    font-size: 1.2vw;
}
.menuAdmin a:hover{
    opacity: 0.8;
}
.menuAdmin ul{
    display: flex;
    align-items: center;
    
}
.menuAdmin li{
    margin-left: 2vw;
    font-size: 18px;
    list-style-type: none;
}
.menuAdmin li i{
    margin: 2px;
}
.menuAdmin ul li:hover > div#barras{  
   opacity: 1;
   visibility:visible;
   display: flex;
}
#barras{
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: fixed;
    background-color: white;
    border: 1px solid black;
    transition: opacity 0.5s ease;
    justify-content: center;
    padding: 10px;
}
#barras a{
    color:black;
    display: flex;
    cursor: pointer;
}
.admin{
    justify-content: center;
    align-items: center;
    height:auto;
    margin: auto;
    margin-top: 3vh;
    width: 80vw;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
#painel h2{
   justify-content: center;
   align-items: center;
   display: flex;
   border-bottom: 1px solid black;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:25px;
}
#func{   
    margin: auto;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
#func a{
    font-size:50px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    animation: modal3 0.5s;
}
#func a:hover{
    animation: modal2 0.5s;
    transform: translate3d(0,-5px,0);
}
@keyframes modal2{
    from{
        transform: translate3d(0, 0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,-5px,0);
    }
}
@keyframes modal3{
    from{
        transform: translate3d(0, -5px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
#func i{
    font-size: 80px;
}
.funcA{
    padding: 50px;
}
#func2{
    padding:50px;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.func2A{
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
