/* VALIDO PARA TODOS OS ARQUIVOS*/
*{
    padding:0;
    margin:0;
}
/* VALIDO PARA O ARQUIVO LOGIN.HTML */

body.loginBody{
    color: white;
    background: linear-gradient(151deg, rgba(0,208,255,1) 0%, rgba(0,90,159,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
}

footer span{
    opacity: .5;
}

.login{
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.login-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-div p{
    margin: 20px 0;
    font-weight: 600;
}

.login-div form input{
    margin: 10px 0px;
    border-radius: 100px;
    border: 2px solid white;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
}

.login-div form input::placeholder{
    color: white;
}

.login-div form input[type='submit']{
    margin-top: 20px;
    background-color: white;
    color: #005ca1;
    transition: 0.5s;
    cursor: pointer;
}

.login div form input[type='submit']:hover{
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}
.titulo{
    font-size:large;
    color: aliceblue;
}
a{
    text-decoration: none;
    color:orangered;
}
a:link {
    color: #e67e22;
    font-size: 20px;
   }
   
a:hover {

    color:white;
   }
   

@media (min-width: 1300px)
{
    body{
        background: white;;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/apertomao.jpg);
        background-position: center;
        min-height: 350px;
        box-shadow: 2px 2px 5px #00000050;
    }

    .login{
        background-color: transparent;
    }

    .login-div{
        background: linear-gradient(151deg, #009fd7, rgba(0,90,159,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 50px;
        box-shadow: 2px 2px 5px #00000050;
    }

    footer{
        color: white;
        background-color: rgba(30,30,30,.5);
        padding: 10px;
    }
}
/* VALIDO PARA O ARQUIVO USUARIO.PHP */
 div.usuarioDiv a{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
div.usuarioDiv{
    margin-left: 10vh;
    margin-top: -15vh;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.usuarioDiv div#usuarioId{
    margin-top:20vh; 
    padding: 20px;
}
body.usuario h1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 30px;
}
body.usuario div.usuarioDiv img{
    border-radius:100%;
    width:18vw;
    margin-left: 10vh;
    height: 38vh;
}
body.usuario div.usuarioDiv button{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
body.usuario div#cursos{
   width: 100%;
   align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cursoTela{
    border: 1px solid;
    height: 221px;
    width: 220px;
    box-shadow: 2px 2px 1px #00000050;
    margin-left:10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}
.cursoTela a{
    margin-left: 50px;
    font-size: 30px
}
.cursoTela img{
    padding: 15px;
    margin-left:1px;
    width:190px; 
    height: 120px;
    justify-content: center;
}
/* VALIDO PARA O ARQUIVO TESTE.PHP */
body.teste{
    background-color: aqua;
}
