*{
    padding:0;
    margin:0;
}
section.loginSection{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 60vh;
    /*background-image: url(/topo/img/apertomao.jpg);*/
    background-color: blue;
    width: 700px;
    margin-left: 50vh; 
}
form{
    font-family: Arial, Helvetica, sans-serif;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
label{
    padding-left: 60px;
}
form input{
    border:1px solid green;
    border-radius: 20px;
    width: 300px;
    height: 40px;
}
form input[type=submit]{
    background-color: black;
    color: white;
}
form input[type=submit]:hover{
    background-color: orangered;
    opacity: 0.5;
    animation-duration: 3s;
    
}
a{
    background-color: orangered;
    padding-left: 20px;   
}
body.teste{
    background-color: aqua;
}
.teste{
    margin-left: 500px;
    margin-top: 100px;
}