/* VALIDO PARA TODOS OS ARQUIVOS*/
*{
    padding:0;
    margin:0;
}
/* VALIDO PARA O ARQUIVO LOGIN.HTML */

body.loginBody{
    color: white;
    background: linear-gradient(151deg, rgba(0,208,255,1) 0%, rgba(0,90,159,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
}

footer span{
    opacity: .5;
}

.login{
    text-align: center;
    height: 118vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.login-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-div p{
    margin: 20px 0;
    font-weight: 600;
}

.login-div form input{
    margin: 10px 0px;
    border-radius: 100px;
    border: 2px solid white;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
}

.login-div form input::placeholder{
    color: white;
}

.login-div form input[type='submit']{
    margin-top: 20px;
    background-color: white;
    color: #005ca1;
    transition: 0.5s;
    cursor: pointer;
}

.login div form input[type='submit']:hover{
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}
.titulo{
    font-size:large;
    color: aliceblue;
}
a{
    text-decoration: none;
    color:orangered;
}
a:link {
    color: #e67e22;
    font-size: 20px;
   }
   
a:hover {

    color:white;
   }
   

@media (min-width: 1100px)
{
    body{
        background: white;;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/apertomao.jpg);
        background-position: center;
        min-height: 350px;
        box-shadow: 2px 2px 5px #00000050;
    }

    .login{
        background-color: transparent;
    }

    .login-div{
        background: linear-gradient(151deg, #009fd7, rgba(0,90,159,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 50px;
        box-shadow: 2px 2px 5px #00000050;
    }

    footer{
        color: white;
        background-color: rgba(30,30,30,.5);
        padding: 10px;
    }


    #muda{
        animation: go-back 0.3s;
        background: rgba(0, 0, 0, 0.8)
        
    }
    
    @keyframes go-back {
        from { opacity: 0.5; 
        }
        to   { opacity: 1;
        }
    }
    @keyframes desfoca_fundo {
        from { background-color: #009fd7;
        }
        to { background-color: black;
        }
    }
}
/* VALIDO PARA O ARQUIVO USUARIO.PHP */
 div.usuarioDiv a{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
div.usuarioDiv{
    margin-left: 10vh;
    margin-top: -15vh;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.usuarioDiv div#usuarioId{
    margin-top:20vh; 
    padding: 20px;
}
body.usuario h1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 30px;
}
body.usuario div.usuarioDiv img{
    border-radius:100%;
    width:18vw;
    margin-left: 10vh;
    height: 38vh;
}
body.usuario div.usuarioDiv button{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
body.usuario div#modal{
    margin-top: 10vh;
    border: 1px solid black;
    padding: 100px;
    display: fixed;
}
body.usuario div#cursos{
   width: 100%;
   align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cursoTela{
    border: 1px solid;
    height: 250px;
    width: 220px;
    box-shadow: 2px 2px 1px orangered;
    margin-left:10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}
.cursoTela a{
    font-size: 30px;
    justify-content: center;
    padding:10px;
    background-color: green;
    border-radius: 10px;
    color:white;
}
.cursoTela a:hover{
    opacity: 0.8;
    cursor:pointer;
}
.cursoTela img{
    padding: 15px;
    margin-left:1px;
    width:190px; 
    height: 120px;
    justify-content: center;
}
body.usuario div#cursoCont{
    width: 100%;
    align-items: center;
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 .cursoConteudo{
     border: 1px solid;
     height: 230px;
     width: 220px;
     box-shadow: 2px 2px 1px orangered;
     margin-left:10vh;
     margin-bottom: 10vh;
     border-radius: 10px;
 }
 .cursoConteudo a{
     font-size: 30px;
     justify-content: center;
     padding:10px;
     background-color: green;
     border-radius: 10px;
     color:white;
 }
 .cursoConteudo a:hover{
     opacity: 0.8;
     cursor:pointer;
 }
 .cursoConteudo img{
     padding: 15px;
     margin-left:1px;
     width:190px; 
     height: 120px;
     justify-content: center;
 }
 
/* VALIDO PARA O ARQUIVO TESTE.PHP */
body.teste{
    background-color: aqua;
}
/* VALRIDO PARA O ARQUIVO ADMIN.PHP*/
.menuAdmin{
    background-color: rgb(22, 22, 145);
    display: flex;
    height: 12vh;
    justify-content: center;
    width:100%;
}
.menuAdmin img{
    height: 9vh;
    width: 3vw;
    margin-left: 5vw;
    margin-right: 15vw;
    margin-top: 9px;
}
.menuAdmin a{
    color: white;
}
.menuAdmin a:hover{
    opacity: 0.8;
}
.menuAdmin ul{
    display: flex;
    align-items: center;
    
}
.menuAdmin li{
    margin-left: 2vw;
    font-size: 18px;
    list-style-type: none;

}
.menuAdmin li i{
    margin: 2px;

}
.menuAdmin ul li:hover > div#barras{  
   opacity: 1;
}
#barras{
    display: flex;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    background-color: rgb(16, 16, 161);
    border: 1px solid black;
    transition: opacity 1s ease;
    
}
.admin{
    justify-content: center;
    align-items: center;
    height:auto;
    margin: auto;
    margin-top: 3vh;
    width: 80vw;
    border: 1px solid black;
}
#painel h2{
   justify-content: center;
   align-items: center;
   display: flex;
   margin-top:20px;
   border-bottom: 1px solid black;
}
#func{
    margin:auto;  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
#func a{
    font-size:50px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#func i{
    font-size: 80px;
}
.funcA{
    padding: 50px;
}
