/* VALIDO PARA TODOS OS ARQUIVOS*/
*{
    padding:0;
    margin:0;
}
/* VALIDO PARA O ARQUIVO LOGIN.HTML */

body.loginBody{
    color: white;
    background: linear-gradient(151deg, rgba(0,208,255,1) 0%, rgba(0,90,159,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 10pt;
}

footer span{
    opacity: .5;
}

.login{
    text-align: center;
    height: 118vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.login-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
}

.login-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-div p{
    margin: 20px 0;
    font-weight: 600;
}

.login-div form input{
    margin: 10px 0px;
    border-radius: 100px;
    border: 2px solid white;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
}

.login-div form input::placeholder{
    color: white;
}

.login-div form input[type='submit']{
    margin-top: 20px;
    background-color: white;
    color: #005ca1;
    transition: 0.5s;
    cursor: pointer;
}

.login div form input[type='submit']:hover{
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
}
.titulo{
    font-size:large;
    color: aliceblue;
}
a{
    text-decoration: none;
    color:rgb(73, 194, 73);
}
a:link {
    color: #e67e22;
    font-size: 20px;
}   

@media (min-width: 1100px)
{
    body{
        background: white;;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/apertomao.jpg);
        background-position: center;
        min-height: 350px;
        box-shadow: 2px 2px 5px #00000050;
    }

    .login{
        background-color: transparent;
    }

    .login-div{
        background: linear-gradient(151deg, #009fd7, rgba(0,90,159,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 50px;
        box-shadow: 2px 2px 5px #00000050;
    }

    footer{
        color: white;
        background-color: rgba(30,30,30,.5);
        padding: 10px;
    }


    #muda{
        display:none;
        animation: go-back 0.3s;
        background: rgba(0, 0, 0, 0.8)
        
    }
    #muda2{
        display:none;
        animation: go-back 0.3s;
        background: rgba(0, 0, 0, 0.8)
    }
    
    @keyframes go-back {
        from { opacity: 0.5; 
        }
        to   { opacity: 1;
        }
    }
    @keyframes desfoca_fundo {
        from { background-color: #009fd7;
        }
        to { background-color: black;
        }
    }
    
}
/* VALIDO PARA O ARQUIVO USUARIO.PHP */
 div.usuarioDiv a{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
div.usuarioDiv{
    margin-left: 10vh;
    margin-top: -15vh;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
}
.usuarioDiv{
    margin-top:20vh; 
    padding: 20px;
}
#imgSubmit{
    background-color: #1343e4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type="file"] {
        width:100px;
        height: 60px;
        opacity: 0;
        position: absolute;
        cursor: pointer;
}
#btnVoltar{
    position:fixed; 
    top:93%;
    left:97%;
    transform: translate(-50%, -50%);
    
}
.btnVoltarCurso{
    background-color:rgb(9, 107, 235);
    color:  rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    left: -60px;
    top: -30px;
}
body.usuario h1{
    font-family:'Times New Roman', Times, serif;
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 30px;
}
body.usuario div.usuarioDiv img{
    border-radius:100%;
    width: 300px;
    height: 300px;
}
body.usuario div.usuarioDiv button{
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 118, 248);
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
#modal, #modalH{
    border: 1px solid black;
    display: none;
     width: 30vw;
    height: 30vh; 
    padding: 5px;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    left:30vw;
    background-color: white;
    animation: modal 1s;
    flex-direction: column;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#modal button{
    border-radius: 1px;
    border: 1px solid white;
    background-color: red;
    width: 30px;
    padding: 10px;
    justify-self: center;
    
}
#modalH button{
    border-radius: 1px;
    border: 1px solid white;
    background-color: red;
    width: 30px;
    padding: 10px;
    justify-self: center;
    
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
#muda{
    display:none;
    margin-left: -3vh; 
    margin-right: -2vh;
    animation: modal 1s;
}
#muda2{
    display:none;
    margin-left: -3vh; 
    margin-right: -2vh;
    animation: modal 1s;
}
#cursos{
   width: 100%;
   align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center; 
    
}
.cursoTela{
    border: 1px solid;
    height: 260px;
    width: 220px;
    padding-bottom:10px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin-left:10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursoTela a:not([href]):not([tabindex]){
    font-size: 28px;
    justify-content: center;
    padding:10px;
    background-color: white;
    border-radius: 10px;
    color:blue;
    border: 1px solid blue;
    margin-top: 5px;
}
.cursoTela a:not([href]):not([tabindex]):hover{
    transition-duration: 0.5s;
    cursor:pointer;
    opacity: 0.9;
    color: white;
    background-color: blue;
    border: 1px solid white;
}
.cursoTela img{
    padding: 15px;
    margin-left:1px;
    width:190px; 
    height: 120px;
    justify-content: center;
}
#cursoCont{
    width: 100%;
    align-items: center;
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 .cursoConteudo{
     border: 1px solid;
     height: 230px;
     width: 220px;
     margin-left:5vh;
     margin-right:5vh;
     margin-bottom: 10vh;
     border-radius: 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 }
 .cursoConteudo a:not([href]):not([tabindex]){
    font-size: 30px;
    justify-content: center;
    padding:10px;
    background-color: white;
    border-radius: 10px;
    color:blue;
    border: 1px solid blue;
}
.cursoConteudo a:not([href]):not([tabindex]):hover{
   transition-duration: 0.5s;
   cursor:pointer;
   opacity: 0.9;
   color: white;
   background-color: blue;
   border: 1px solid white;
}
 .cursoConteudo img{
     padding: 15px;
     margin-left:1px;
     width:190px; 
     height: 120px;
     justify-content: center;
 }
 #modal2{
    border: 1px solid black;
    display: none;
    width: auto;
    height: auto;
    padding: 2px;
    position:absolute;
    margin-bottom: 60vh;
    background-color: white;
    animation: modal 1s;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
#telas{
    text-align:center;
    display:block;
}
#modal2Cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    width: 400px;
}
#modal2Op{
    display:flex;
    justify-content:center;
    padding-top: 30px;
    
}
#modal2Op a{
    margin:auto;
    margin-top:50px;
    font-size: 30px;
}
#textoAula{
    display: flex;
    flex-direction:row;
    width: 40vw;
    height: 5vh;
    position: absolute;
    top:60vh;
    background-color: white;
    left:50vw;
    border:2px solid black;
    border-bottom: 0px;
}
#paragrafo{
    text-align: justify;
    font-size: 3vh;
    padding-top: 5px;
}
#AulaTexto{
    display: flex;
    width: 40vw;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    position: absolute;
    top: 65vh;
    left:50vw;
    border:2px solid black;
    border-top: 0px;
}

#audio{
    position: relative;
    display: flex;
}
#imagemEstilo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
    margin: 0;
    padding: 0;
    display: block;

}
.volta{
    border-color: rgb(210, 210, 30);
    background-color: yellow;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 35px;
    min-height: 15px;
    border-radius: 5px;
    height: 27px;
}
.proxima{
    width: 35px;
    background-color: gray;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-left: 1px;
    height: 27px;
}
.sair{
    background-color: rgb(218, 28, 28);
    border-color: rgb(116, 5, 5);
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 35px;
    height: 27px;
    margin-right: 10px;
    border-radius: 5px;
}
#mAdmin2{
    display: none;
}
#mAdmin3{
    display: none;
}
#usuarioId{
    margin-top:20vh;
}
@media (max-width: 959px) {
    #paragrafo{
        font-size: 25px;
    }
    #textoAula{
        top: 55vh;

    }
    #AulaTexto{
        top: 60vh;

    }
    #mAdmin2{
        display: none;
    }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media (min-width: 768px) and (max-width: 959px) {
    #paragrafo{
        font-size: 20px;
    }
    #textoAula{
        top: 45vh;

    }
    #AulaTexto{
        top: 50vh;

    }
}

/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {
    #paragrafo{
        font-size: 22px;
    }
    #textoAula{
        top: 35vh;

    }
    #AulaTexto{
        top: 40vh;

    }
    #mAdmin{
        display:none;
    }
    #mAdmin2{
        display: flex;
        left:30vw;
        position: relative;
        width: 70px;
        height: 9vh;
        cursor: pointer;
    }
    #iconetopo{
        width: 50px;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media (min-width: 50px) and (max-width: 767px) {
    #paragrafo{
        font-size: 22px;
    }
    #textoAula{
        top: 5vh;
        width: 55vw;
        left:35vw;

    }
    #AulaTexto{
        top: 10vh;
        width: 55vw;
        left:35vw;

    }
    #mAdmin2{
        display: flex;
        left:20vw;
        position: relative;
        width: 80px;
    }
    #func{
        flex-direction: column;
    }
    #iconetopo{
        width: 50px;
    }
    #usuarioDiv{
        flex-direction: column;
    }
    div#usuarioId{
       margin-top: 5vh;
    }
    #modal, #modalH {
       height: auto;
    }
    .esconde{
        display: none;
    }
    #icones{
        flex-direction: column;
    }
    #icones h1{
        margin: auto;
        top: -60px;
        display: flex;
        position: relative;
        font-size: 30px;
    }
    #func i {
        font-size: 50px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
 

/* VALIDO PARA O ARQUIVO TESTE.PHP */
body.teste{
    background-color: aqua;
}
#formTeste{
    display: flex;
    flex-direction: column;

}
.menuTeste{
    background-color: rgb(45, 45, 158);
    display: flex;
    height: 12vh;
    width:100%;
}
.menuTeste img{
    height: 9vh;
    width: 3vw;
    margin-left: 5vw;
    margin-top: 9px;
}
#formTeste{
    width: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    
}
#mostraResultado{
    
    /* display: flex;  */
    align-self: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-right: 5px;
}
#VoltarTeste{
    /* display: flex;  */
    align-self: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: #fd7e14;
    border-color: #fd7e14;
    margin-bottom: 20px;
    
}
#nota{
    display: flex;
    justify-content: center;
}
#aprov{
    color:green;
}
#reprov{
    color:red;
}
#imgResul{
    height: 100px;
    width: 80px;
    display: flex;
    align-self: center;
}

/* VALRIDO PARA O ARQUIVO ADMIN.PHP*/
#adminBody{
    background-color: #f0f3f6;
}
.menuAdmin{
    background-color: rgb(45, 45, 158);
    display: flex;
    height: 12vh;
    justify-content: center;
    width:100vw;
}
.menuAdmin img{
    height: 9vh;
    width: 3vw;
    margin-left: 5vw;
    margin-right: 15vw;
    margin-top: 9px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
     -webkit-appearance: none; 

}
.menuAdmin a{
    color: rgb(216, 211, 211);
    font-size:1.2rem;
}
.menuAdmin a:hover{
    opacity: 0.8;
}
.menuAdmin ul{
    display: flex;
    align-items: center;
    
}
.menuAdmin li{
    margin-left: 2vw;
    font-size: 18px;
    list-style-type: none;
}
.menuAdmin li i{
    margin: 2px;
}
.menuAdmin ul li:hover > div#barras{  
   opacity: 1;
   visibility:visible;
   display: flex;
}
#barras{
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    transition: opacity 0.5s ease;
    justify-content: center;
}
#barras a{
    color:black;
    display:flex;
    cursor: pointer;
    margin: 0;
}
.admin{
    justify-content: center;
    align-items: center;
    height:auto;
    margin: auto;
    margin-top: 3vh;
    width: 80vw;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}
#painel h2{
   justify-content: center;
   align-items: center;
   display: flex;
   border-bottom: 1px solid black;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:25px;
}
#func{   
    margin: auto;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
#func a{
    font-size:50px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    animation: modal3 0.5s;
}
#func a:hover{
    animation: modal2 0.5s;
    transform: translate3d(0,-5px,0);
    color:black;
}
@keyframes modal2{
    from{
        transform: translate3d(0, 0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,-5px,0);
    }
}
@keyframes modal3{
    from{
        transform: translate3d(0, -5px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
#func i{
    font-size: 80px;
}
#func td i{
    font-size:50px;
    margin-left:10px;
}
.funcA{
    padding: 50px;
}
#func2{
    padding:50px;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.func2A{
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
#cbcLista a,#cbcLista2 a{
    font-size: 16px;
    display: inline-flex;
    color:white;
    margin-bottom: 10px;
    margin-right: 5px;
    
}
#icones h1{
    margin:auto;
}