@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    transform: translateY(-50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }

#loading{
    display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  text-align: center
}

body{
    background-color: #f7f7f7;
}

.topo{
    height: 30vh;
    width: 100%;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.background img{
    position:absolute;
    z-index:0;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
}

.voltar{
    top: 20px;
    left: 20px;
    position: absolute;
    color: white;
}

.voltar a{
    color: inherit;
}

.menu{
    bottom: -90px;
    left: 290px;
    position: absolute;
    color: white;
}

.menu a{
    color: inherit;
}

a:hover{
    text-decoration: none;
}

.relativo{
    position: relative;
    width: 100%;
    height: 100%;
}

.perfil{
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 1000px;
    top: 15vh;
    border: 2px solid #E2E2E2;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    background-position: 0px 25px;
    background-repeat: no-repeat
}

.avatarSelecao{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.avatarSelecao:hover{
    opacity: 1;
    transform: scale(1.2);
}

.nome{
    position: absolute;
    bottom: -50px;
    left: 290px;
    font-size: 1.6em;
    color: rgb(51, 51, 51);
}

#aulas{
    margin-top: 180px;
}

#aulas .section-titulo{
    font-size: 1.2em;
}

.curso{
    margin-top: 70px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    text-align: center;
    position: relative;
    background-color: white;
}

.acessar{
    background-color: transparent;
    border: 1px solid #0088FF;
    border-radius: 3px;
    color: #0088FF;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.5s;
}

.acessar:hover{
    background-color: #0088FF;
    color: white;
}

.iniciar-bloqueado{
    background-color: transparent;
    border: 1px solid #0088FF;
    border-radius: 3px;
    color: #0088FF;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.5s;
}

.iniciar{
    background-color: #0088FF;
    border: 1px solid #0088FF;
    border-radius: 3px;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.5s;
}

.iniciar:hover{
    background-color: rgb(0, 113, 212);
    color: white;
}

.aula-completada{
    background-color: #28a745!important;
    border: 1px solid #28a745!important;
    color: white!important;
}

.aula-completada:hover{
    background-color: #218a39!important;
    border: 1px solid #218a39!important;
    color: white!important;
}

.nome-curso{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.2em;
}

.progresso-curso{
    color:rgba(0,0,0,.7);
    font-size: 0.9em;
}

.imagem-curso{
    margin-top: -75px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    overflow: hidden;
}

.imagem-curso img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.fase-completada{
    opacity: 0.7;
    transition: 0.4s;
}

.fase-completada:hover{
    opacity: 1;
}

.fase-bloqueada{
    opacity: .8;
    transition: 0.4s;
}

.fase-bloqueada:hover{
    opacity: 1;
}

.link-bloqueado{
    opacity: .3;
    cursor: not-allowed;
}

.link-bloqueado:hover{
    background-color: transparent!important;
    color: #0088FF!important;
}

.item-fase{
    display: inline-block;
    vertical-align: middle;
}

.item-fase i{
    font-size: 4em;
}

.caminho{
    width: 100px;
    vertical-align: middle;
    margin-top: -40px;
}

.finalizado i{
    color: #28a745!important;
}

.atual i{
    color: #0088FF!important;
}

.bloqueado i{
    cursor: not-allowed;
}
